@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  background-color: white;
  margin: 0;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  line-height: 1.1;
}
.post-content p {
  margin-bottom: 1em;
}
.post-content h1,
.post-content h2,
.post-content h4,
.post-content h6 {
  font-weight: bold;
  font-size: 1.2em; /* Adjust as needed */
}
.post-content h2 {
  font-size: 1.7em; /* Adjust as needed */
}
.post-content h3 {
  color: black;
  font-size: 1.2em;
  font-weight: bold; /* Add this line to make h3 gray */
}
.post-content h5 {
  font-weight: regular;
  color:gray;
  font-size: 1.2em; /* Adjust as needed */
}